fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
langchain-groq
langchain-pinecone
langchain-huggingface
sentence-transformers
pinecone-client
pymupdf
python-dotenv
httpx
pytest
langchain
langchain-community